body {
  font-family: Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    "header header header"
    "map map form"
    "map map form";
  grid-template-columns: auto 1fr 35%;
  grid-template-rows: 6vh auto;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

.error {
  text-transform: capitalize;
  color: red;
}

.spinner {
  margin-left: 6px;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

